@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
#header-content {
    color: black;
    padding: 5px 0;
    border: 1px 1px 1px 1px solid #000;
    font-family: 'Oswald', sans-serif;
}