body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
a {
    color: #333;
    text-decoration: none;
}
header {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
// Background gradient
@import "./partials/backgroundGradient";