body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
a {
    color: #333;
    text-decoration: none;
}
header {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
input {
    overflow: visible;
}
li {
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
// Background gradient
@import "./partials/backgroundGradient";
// Header content
@import "./partials/headerContent";